<html>
    <head>
        <title>{% block title %}{{ entry.title }} - Default{% endblock %}</title>
        <script src="/dist/module.js" type="module"></script>
    </head>
    <body>
        {% include "layout/_navigation.twig" %}
        {% block content %}{% endblock %}
        {% include "layout/_footer.twig" %}
    </body>
</html>