{% set navigation = craft
    .entries()
    .section('site')
    .showInNavigation(true)
    .all()
%}

{% set config = craft
    .entries()
    .section('config')
    .one()
%}

<nav>
    <a href="/">
        Logo
    </a>
    <ul>
        {% for entry in navigation %}
            <li>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ config.instagramUrl }}">Instagram</a>
</nav>